.panel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 25px 30px;

    .left-panel {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 36px;
        color: var(--color-deep-grey2);
    }

    .right-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
}