.panel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 20px 30px;
    border-bottom: 1px solid var(--color-light-grey2);

    .left-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back-btn {
            font-size: 34px;
            color: var(--color-maroon);

            &:hover, &:focus {
                color: var(--color-dark-red);
            }
        }

        .kyc-details {
            padding: 0 20px;
            color: var(--color-deep-grey2);
            font-size: 18px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;

            > div:last-of-type {
                color: var(--color-light-grey)
            }
        }
    }

    .fraud-check {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: var(--color-light-grey);

        span {
            padding-left: 10px;
            font-weight: bold;
            color: var(--color-light-green);
        }
    }

    .right-panel {
        width: 35%;
        text-align: end;
        
        .btn-transparent, .btn-solid {
            width: 40%;
            border-radius: 10px;
            margin: 0 15px;
            padding: 3% 0;
            transition: all 0.5s ease;
            
            &:hover, &:focus {
                cursor: pointer;
                outline: none;
                font-weight: bold;
            }
        }

        .btn-transparent {
            background: none;
            border: 1px solid var(--color-maroon);
            color: var(--color-maroon);

            &:hover {
                border: none;
                background: var(--color-maroon);
                color: var(--color-white);
            }
        }

        .btn-solid {
            border: none;
            background: var(--color-maroon);
            color: var(--color-white);

            &:hover {
                background: var(--color-white);
                border: 1px solid var(--color-maroon);
                color: var(--color-maroon);
            }
        }
    }
}