.modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(48, 44, 44, 0.9);

    > div {
        width: 100%;

        .modal-clear-container {
            display: flex;
            justify-content: flex-end;
            padding: 0 5% 2% 0;
        }
    }
}