:root {

    // Black shades
    --color-light-black: #302C2C;

    // White shades
    --color-white: #ffffff;
    --color-dark-white: #f4f4f4;

    // Grey shades
    --color-grey: #dbd7d7;
    --color-grey2: #e1e1e1;
    --color-deep-grey: #858484;
    --color-deep-grey2: #878787;
    --color-light-grey: #C4C4C4;
    --color-light-grey2: #CED2D8;
    --color-light-grey3: #A9A9A9;
    --color-light-grey4: #DAE3E7;

    // Maroon shades
    --color-maroon: #9C1D26;
    --color-light-maroon: #be757a;
    --color-very-light-maroon: #faf2f3;
    --color-faint-maroon: #fff9fa;

    // Pink shades
    --color-pink: #ffcccc;
    --color-light-pink: #fcebeb;
    --color-light-pink2: #ebd2d4;

    // Orange shades
    --color-orange: #E68845;

    // Blue shades
    --color-blue: #1D73E8;
    --color-light-aqua: #e5f0fa;

    // Red shades
    --color-red: #F85555;
    --color-dark-red: #ee0a1a;
    --color-very-light-red: #fff1f2;

    // Green shades
    --color-light-green: #75D58A;
    --color-green: #80DF95;
}